<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>T</key>
		<integer>-109</integer>
		<key>Z</key>
		<integer>-70</integer>
		<key>t</key>
		<integer>-78</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>y</key>
		<integer>-86</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>y</key>
		<integer>-69</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>y</key>
		<integer>-148</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>y</key>
		<integer>-185</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>y</key>
		<integer>-100</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>T</key>
		<integer>-94</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>S</key>
		<integer>-86</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>T</key>
		<integer>-118</integer>
		<key>y</key>
		<integer>-170</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>T</key>
		<integer>-63</integer>
		<key>y</key>
		<integer>-69</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-39</integer>
		<key>H</key>
		<integer>-47</integer>
		<key>h</key>
		<integer>-70</integer>
		<key>y</key>
		<integer>-135</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>I</key>
		<integer>-125</integer>
		<key>T</key>
		<integer>-133</integer>
		<key>y</key>
		<integer>-145</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>y</key>
		<integer>-81</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>Y</key>
		<integer>-156</integer>
		<key>y</key>
		<integer>-140</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>t</key>
		<integer>-101</integer>
		<key>y</key>
		<integer>-86</integer>
		<key>z</key>
		<integer>-70</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>y</key>
		<integer>-166</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>r</key>
		<integer>-23</integer>
		<key>y</key>
		<integer>-58</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>eight</key>
		<integer>-78</integer>
		<key>four</key>
		<integer>-94</integer>
		<key>nine</key>
		<integer>-102</integer>
		<key>seven</key>
		<integer>-164</integer>
		<key>six</key>
		<integer>-39</integer>
		<key>three</key>
		<integer>-31</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>eight</key>
		<integer>-55</integer>
		<key>four</key>
		<integer>-78</integer>
		<key>nine</key>
		<integer>-55</integer>
		<key>seven</key>
		<integer>-125</integer>
		<key>three</key>
		<integer>-39</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>seven</key>
		<integer>-39</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>y</key>
		<integer>-96</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>y</key>
		<integer>-230</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>t</key>
		<integer>-31</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>eight</key>
		<integer>-78</integer>
		<key>five</key>
		<integer>-39</integer>
		<key>four</key>
		<integer>-63</integer>
		<key>nine</key>
		<integer>-71</integer>
		<key>seven</key>
		<integer>-94</integer>
		<key>six</key>
		<integer>-39</integer>
		<key>three</key>
		<integer>-16</integer>
		<key>two</key>
		<integer>-55</integer>
	</dict>
	<key>quotesingle</key>
	<dict>
		<key>S</key>
		<integer>-78</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>o</key>
		<integer>-47</integer>
		<key>t</key>
		<integer>-164</integer>
		<key>y</key>
		<integer>-177</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>t</key>
		<integer>-47</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>eight</key>
		<integer>-55</integer>
		<key>five</key>
		<integer>-23</integer>
		<key>four</key>
		<integer>-54</integer>
		<key>nine</key>
		<integer>-39</integer>
		<key>seven</key>
		<integer>-109</integer>
		<key>three</key>
		<integer>-23</integer>
		<key>two</key>
		<integer>-54</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>a</key>
		<integer>-86</integer>
		<key>h</key>
		<integer>-78</integer>
		<key>y</key>
		<integer>-105</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>four</key>
		<integer>-62</integer>
		<key>nine</key>
		<integer>-39</integer>
		<key>seven</key>
		<integer>-94</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>eight</key>
		<integer>-109</integer>
		<key>five</key>
		<integer>-54</integer>
		<key>four</key>
		<integer>-125</integer>
		<key>nine</key>
		<integer>-133</integer>
		<key>seven</key>
		<integer>-125</integer>
		<key>six</key>
		<integer>-55</integer>
		<key>zero</key>
		<integer>-79</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>t</key>
		<integer>-62</integer>
		<key>y</key>
		<integer>-76</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>y</key>
		<integer>-68</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>T</key>
		<integer>-75</integer>
		<key>X</key>
		<integer>-13</integer>
		<key>t</key>
		<integer>-39</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>Y</key>
		<integer>-265</integer>
		<key>y</key>
		<integer>-195</integer>
	</dict>
</dict>
</plist>
